@import url("css/cabecalho.css");
@import url("css/conteudo.css");
@import url("css/calculadora.css");
@import url("css/footer.css");

:root {
  --cor-de-fundo: #f7f7f7; 
  --verde-escuro: #215024;
  --verde-claro: #4CAF50;
  --amarelo-claro: #dbd81f;
  --amarelo-escuro: #868404e1;
  --azul: #2493bd;
  --azul-escuro: #10075f;
  --vermelho: #ff0000;
  --sombra: rgba(12, 11, 11, 0.15);
}



* {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-de-fundo);
  
}

.apresentacao {
  height: 100vh;
  background-image: url('/imagens/saudavel.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
