@import url("css/cabecalho.css");
@import url("css/conteudo.css");
:root {
  --cor-de-fundo: #f7f7f7; 
  --verde-escuro: #45a049;
  --verde-claro: #4CAF50;
  --amarelo-claro: #dbd81f;
  --amarelo-escuro: #868404e1;
  --azul: #2493bd;
  --vermelho: #ff0000;
  --sombra: rgba(12, 11, 11, 0.15);
}



* {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: var(--cor-de-fundo);
  
}

.apresentacao {
  height: 100vh;
  background-image: url('/imagens/saudavel.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.container {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

h2, h3 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sexo-options {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.botoes-form {
  width: 100%;
  padding: 12px;
  background-color: var(--verde-escuro);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#zerar {
  background-color: var(--amarelo-claro);
}

#zerar:hover {
  background-color: var(--amarelo-escuro);
}

.botoes-form:hover {
  background-color: var(--verde-claro);
}

.botoes {
  display: flex;
  gap: 10px; 
  margin-top: 10px;
}

#resultado-container {
  margin-top: 25px;
  padding: 15px;
  background-color: #eef;
  border: 1px solid #ccd;
  border-radius: 5px;
}

#resultado {
  font-size: 18px;
  text-align: center;
}

  table {
      width: 100%;
      border-collapse: collapse;
    }

    th {
      background-color: var(--azul);
      color: white;
    }
    th, td {
      padding: 12px;
      text-align: center;
      border: 1px solid #ccc;
    }

    .tipo-classificacao {
      font-weight: bold;
    }

    tr.destacado-verde {
      background-color: var(--verde-claro);
      color: white;
      font-weight: bold;
    }

    tr.destacado-vermelho {
      background-color: #ff0000;
      color: white;
      font-weight: bold;
    }